<h2>New blogpost</h2>

<form class="blogpost" id="add-blogpost" method="POST" action="/blogposts">

    <div>
      <label for="blogpost-title">Title</label>
      <input id="title" type='text' name='blogpost[title]' id="blogpost-title">
    </div>

    <div>
      <label for="blogpost-body">Entry</label>
      <input id="content" type="text" name="blogpost[body]" id="blogpost-body">
    </div>

    <div>
      <input type="Submit" value="Add blogpost" class="btn">
    </div>
</form>
